<!doctype html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

         <link type="text/css" rel="stylesheet" href="w3.css">
        <link type="text/css" rel="stylesheet" href="front.css">
    </head>
    <body class="marg">
        <header>
            <div id="menu">
            <ul >

                <li><a href="#">Find Branch</a></li>

                <li><a href="customercare/customer%20care.html">Customer Care</a></li>
                <li><a href="final.html">Bank Home</a></li>
                <li><a href="aboutus/aboutus.html" target="_blank">About Us</a></li>
            </ul>
            </div>
            <h1 class="h1-set w3-container w3-center w3-animate-left">Welcome To Internet Banking</h1>
        </header>
         <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start()";><b>-The General Schedule of Features and Charges (GSFC) is being revised with effect from April 1, 2017 for Saving Accounts, Privy League Saving & Current Accounts, Corporate Salary Accounts, JIFI Accounts & Sanman Accounts. Click here for the updated GSFC.
                <br>

                - IMPS Transaction charges for amount up to Rs. 1000 will not be charged for the period of 1st Jan'2017 to 31st Mar'2017. However, IMPS Transaction of more than Rs. 1000 will be charged as per applicable General Schedule of Features and Charges of respective Current Accounts, Savings Accounts and Corporate Salary account</b></marquee>
         <div class="leftadd">
            <img src="add3.png" width="130px" height="500px">
        </div>
        <div class="back">

              <div>

            <form class="box" method='post' action="http://127.0.0.1:3000/" enctype="application/x-www-form-urlencoded">
                <filedset>

                    <label>User Id</label>
                    <input class="form-control" type="text" name="userid" placeholder="User Id" required>
                    <label> Password</label>
                     <input class="form-control"type="password" name="password" placeholder="Password" required>

                    <button class="w3-button but" input type="submit">Log-In</button>
                </filedset>
            </form>

        </div>
            <div class="signup">
                <img src="pic1.png">
                <br>
                <div>
                    <a href="/signup.html"> <img src="pic2.png"></a>
                </div>

            </div>
        <div class="instruct" >
            <h3>Important Security Information:</h3>
            <ul  class="footbox">
                <li class="icon">Before logging in, please ensure that the URL address on the address bar of your internet browser starts with <strong>https://apnabank.com</strong></li>
                <li class="icon">Never provide your User ID or password to any one on phone or in response to a mail.Report as <u><strong>suspicious mail.</strong></u> </li>
                <li class="icon">Do not enter <strong>login</strong> or other sensitive information in any pop up window.</li>
                <li class="icon">Verify the site's security certificate by clicking on the padlock icon of your internet browser. </li>
            </ul>
            <h3 >Digital Security:</h3>
            <p class="footbox2">&nbsp;&nbsp;&nbsp;&nbsp;<strong>https://apnabank.com</strong> has been verified by VeriSign. The communication of your private information from any address beginning with "https" is encrypted and secured using SSL.</p>
    </div>
            <div>
                <h1 class="h1-last w3-teal">Demonetization The Real Effect</h1>
                <marquee class="marque-down" behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start()";>
                   * The old notes in excess of Rs 5000 into a bank account will be received for credit only once<br> during the remaining period till December 30, 2016.
                <br>   *The credit in such cases shall be afforded only after questioning the depositor, on record,<br> in the presence of at least two officials of the bank, <br>as to why this could not be deposited earlier and receiving a satisfactory explanation.<br> The explanation should be kept on record to facilitate an audit trail at a later stage.
                    <br>*An appropriate flag also should be raised to that effect so that no more such deposits are allowed.<br> *This will be applicable to only non KYC compliant customers.
                    <br>This will be applicable to only non KYC compliant customers.<br>
                    <strong> Quoting of PAN is mandatory in the following transactions</strong>

                    <br>1.Deposit with a bank in cash exceeding Rs 50,000 in a single day.<br>
                    2.Purchase of bank drafts or pay orders or banker’s cheques from a bank in<br> cash for an amount exceeding Rs 50,000 in a single day.<br>
                    3.A time deposit with a Bank or a Post Office
                    Cash deposits <br>aggregating to Rs 2,50,000 or more during the period 09th November, 2016 to 30th December, 2016
                </marquee>
            </div>
        </div>

             <footer>
            <div class="col-md-3">
                <ul>
                    <h4>Customer Service</h4>
                    <li class="icon2">Customer Care Numbers</li>
                </ul>

           </div>
                <div class="col-md-3">
                    <ul>
                        <h4>Our Initiatives</h4>
                        <li class="icon2"><a href="#">Safe Banking | Go Green</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <h4>Useful Links</h4>
                            <li class="icon2">Get User Id| Way To Bank| Online<br>
                             Banking | Saving Account | PPF<br>
                             Personal
                             </li>
                    </ul>

                </div>
                     <div class="col-md-3">
                         <ul>
                             <h4>Visit Other APNA Bank Sites</h4>
                             <li class="icon2">APNA Group | APNA Foundation | APNA Lombard General Insurance | APNA Securities |
                             </li>
                         </ul>
                     </div>


        </footer>


    </body>
</html>
